.contadorCss{
    max-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid blueviolet;
    margin-bottom: 15px;
}